html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
  background: #eee;
	background: linear-gradient(10deg, rgba(150, 50, 50, 0.3) , rgba(0, 0, 200, 0) );
}

.weather-body {
  display: flex;
flex-direction: column;
  align-items: center;
  justify-content: center;
padding: 0;
height: 100%;
width: 100%;
overflow: auto;
position: relative;
background: #eee;
background: linear-gradient(240deg, rgba(150, 50, 50, 0.3) , rgba(0, 0, 200, 0) );
box-shadow: 9px 7px 40px -6px rgba(0,0,0,0.25);
border-radius: 5px;
}

.background 
{
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
	background: #eee;
	background: linear-gradient(120deg, rgba(50, 150, 100, 0.2) , rgba(0, 0, 100, 0) );
  box-shadow: 9px 7px 40px -6px rgba(0,0,0,0.25);
  border-radius: 5px;
  
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.btn{
  float: right;
  padding-left: 30px;
  padding-right: 30px;
}
.search-button, .city-input {
  padding: 0;
}
.footer {
  text-align: center;
}

.taust{
  margin-top: 20px;
  margin-bottom: 20px;
}